@font-face {
  font-family: "iannnnnCPU";
  src: url("fonts/2005_iannnnnCPU.ttf") format("truetype");
}

body {
  font-family: "iannnnnCPU", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #4CAF50;
  margin-top: 20px;
  font-size: 2em;
}

p {
  font-size: 1.2em;
  text-align: justify;
  margin: 20px auto;
  width: 80%;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Added hover effect */
}
